.feed_back__btn {
  // display: inline-block;
  // width: 100px;
  // height: 100px;
  // border-radius: 50%;
  // border: none;
  display: inline-block;
  cursor: pointer;
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #00a84f;
  // display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  margin: 0 5px 0 5px;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  text-transform: uppercase;

  // &:not(:last-child) {
  //   // margin-right: 20px;
  // }
  &:hover,
  &:focus {
    opacity: 0.9;

  }

  &:hover {
    color: #fff;
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0)
  }

  // &:active {
  //   // background-color: #4594fd;
  //   // background: linear-gradient(#4594fd, #0767e5);

  // }
}

.div__btn {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  // flex-direction: column;
  // align-items: center;
  // flex: 0 0 auto;

}