.section {
  width: 600px;
    margin: 0 auto 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: black;
}

.section__title {
  margin-bottom: 10px;
}
